.navbar {
  background-color: teal;
}

h3 {
  color: teal;
}

h5 {
  color: teal;
  text-align: center;
}

.img-left {
  float: left;
}

.dropdown-item-active {
   background-color: #00cdcd;
 }
/* 88d8c0 */
 

.img-active {
  border: 2px solid teal;
 }

